 <div id="content">
      <div class="match-day">
        <div class="SeasonMatchDay">
          <span>Season {{item.seasonId}} / Match Day 11</span>
        </div>

        <div class="timeBoard">
          <div class="teamL">VFL Rome</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Madrid</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268386-1" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.0" data-odds="1.80" data-oddsid="1277268386" data-oddstype="1">
                0<br />
                <span>1.80</span>
              </div>
              <div id="odds-1277268386-2" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.0" data-odds="1.90" data-oddsid="1277268386" data-oddstype="2">

                <span>1.90</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268388-1" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.25" data-odds="1.65" data-oddsid="1277268388" data-oddstype="1">
                0-0.5<br />
                <span>1.65</span>
              </div>
              <div id="odds-1277268388-2" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.25" data-odds="2.15" data-oddsid="1277268388" data-oddstype="2">

                <span>2.15</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268384-1" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="2.05" data-oddsid="1277268384"
                data-oddstype="1">
                -0-0.5<br />
                <span>2.05</span>
              </div>
              <div id="odds-1277268384-2" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="1.70" data-oddsid="1277268384"
                data-oddstype="2">

                <span>1.70</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268366-o" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="1.45" data-oddsid="1277268366"
                data-oddstype="o">
                2.5<br />
                <span>1.45</span>
              </div>
              <div id="odds-1277268366-u" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="2.50" data-oddsid="1277268366"
                data-oddstype="u">

                <span>2.50</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268368-o" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="2.10" data-oddsid="1277268368"
                data-oddstype="o">
                3.5<br />
                <span>2.10</span>
              </div>
              <div id="odds-1277268368-u" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.65" data-oddsid="1277268368"
                data-oddstype="u">

                <span>1.65</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268370-o" class="row column2 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="4.5" data-odds="3.65" data-oddsid="1277268370"
                data-oddstype="o">
                4.5<br />
                <span>3.65</span>
              </div>
              <div id="odds-1277268370-u" class="row column1 Odds" data-matchid="1107541642" data-hometeamname="VFL Rome" data-awayteamname="VFL Madrid" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="4.5" data-odds="1.25" data-oddsid="1277268370"
                data-oddstype="u">

                <span>1.25</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Oslo</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Lisbon</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268418-1" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.0" data-odds="1.70" data-oddsid="1277268418" data-oddstype="1">
                0<br />
                <span>1.70</span>
              </div>
              <div id="odds-1277268418-2" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.0" data-odds="2.05" data-oddsid="1277268418" data-oddstype="2">

                <span>2.05</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268416-1" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="2.00" data-oddsid="1277268416"
                data-oddstype="1">
                -0-0.5<br />
                <span>2.00</span>
              </div>
              <div id="odds-1277268416-2" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="1.75" data-oddsid="1277268416"
                data-oddstype="2">

                <span>1.75</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268414-1" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.5" data-odds="2.30" data-oddsid="1277268414" data-oddstype="1">
                -0.5<br />
                <span>2.30</span>
              </div>
              <div id="odds-1277268414-2" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.5" data-odds="1.55" data-oddsid="1277268414" data-oddstype="2">

                <span>1.55</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268396-o" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.40" data-oddsid="1277268396"
                data-oddstype="o">
                1.5<br />
                <span>1.40</span>
              </div>
              <div id="odds-1277268396-u" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="2.75" data-oddsid="1277268396"
                data-oddstype="u">

                <span>2.75</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268398-o" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="2.25" data-oddsid="1277268398"
                data-oddstype="o">
                2.5<br />
                <span>2.25</span>
              </div>
              <div id="odds-1277268398-u" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="1.55" data-oddsid="1277268398"
                data-oddstype="u">

                <span>1.55</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268400-o" class="row column2 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="3.80" data-oddsid="1277268400"
                data-oddstype="o">
                3.5<br />
                <span>3.80</span>
              </div>
              <div id="odds-1277268400-u" class="row column1 Odds" data-matchid="1107541644" data-hometeamname="VFL Oslo" data-awayteamname="VFL Lisbon" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.22" data-oddsid="1277268400"
                data-oddstype="u">

                <span>1.22</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Athens</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Zagreb</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268448-1" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.0" data-odds="1.60" data-oddsid="1277268448"
                data-oddstype="1">
                0<br />
                <span>1.60</span>
              </div>
              <div id="odds-1277268448-2" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.0" data-odds="2.20" data-oddsid="1277268448"
                data-oddstype="2">

                <span>2.20</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268446-1" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="1.90" data-oddsid="1277268446"
                data-oddstype="1">
                -0-0.5<br />
                <span>1.90</span>
              </div>
              <div id="odds-1277268446-2" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="1.80" data-oddsid="1277268446"
                data-oddstype="2">

                <span>1.80</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268444-1" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.5" data-odds="2.20" data-oddsid="1277268444"
                data-oddstype="1">
                -0.5<br />
                <span>2.20</span>
              </div>
              <div id="odds-1277268444-2" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.5" data-odds="1.60" data-oddsid="1277268444"
                data-oddstype="2">

                <span>1.60</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268426-o" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.55" data-oddsid="1277268426"
                data-oddstype="o">
                1.5<br />
                <span>1.55</span>
              </div>
              <div id="odds-1277268426-u" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="2.30" data-oddsid="1277268426"
                data-oddstype="u">

                <span>2.30</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268428-o" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="2.65" data-oddsid="1277268428"
                data-oddstype="o">
                2.5<br />
                <span>2.65</span>
              </div>
              <div id="odds-1277268428-u" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="1.40" data-oddsid="1277268428"
                data-oddstype="u">

                <span>1.40</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268430-o" class="row column2 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="4.80" data-oddsid="1277268430"
                data-oddstype="o">
                3.5<br />
                <span>4.80</span>
              </div>
              <div id="odds-1277268430-u" class="row column1 Odds" data-matchid="1107541646" data-hometeamname="VFL Athens" data-awayteamname="VFL Zagreb" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.15" data-oddsid="1277268430"
                data-oddstype="u">

                <span>1.15</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Ankara</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Stockholm</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268476-1" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.0" data-odds="1.90" data-oddsid="1277268476"
                data-oddstype="1">
                0<br />
                <span>1.90</span>
              </div>
              <div id="odds-1277268476-2" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.0" data-odds="1.80" data-oddsid="1277268476"
                data-oddstype="2">

                <span>1.80</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268478-1" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="0.25" data-odds="1.70" data-oddsid="1277268478"
                data-oddstype="1">
                0-0.5<br />
                <span>1.70</span>
              </div>
              <div id="odds-1277268478-2" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="0.25" data-odds="2.05" data-oddsid="1277268478"
                data-oddstype="2">

                <span>2.05</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268474-1" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="2.20" data-oddsid="1277268474"
                data-oddstype="1">
                -0-0.5<br />
                <span>2.20</span>
              </div>
              <div id="odds-1277268474-2" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="1.60" data-oddsid="1277268474"
                data-oddstype="2">

                <span>1.60</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268456-o" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.16" data-oddsid="1277268456"
                data-oddstype="o">
                1.5<br />
                <span>1.16</span>
              </div>
              <div id="odds-1277268456-u" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="4.50" data-oddsid="1277268456"
                data-oddstype="u">

                <span>4.50</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268458-o" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="1.60" data-oddsid="1277268458"
                data-oddstype="o">
                2.5<br />
                <span>1.60</span>
              </div>
              <div id="odds-1277268458-u" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="2.25" data-oddsid="1277268458"
                data-oddstype="u">

                <span>2.25</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268460-o" class="row column2 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="2.55" data-oddsid="1277268460"
                data-oddstype="o">
                3.5<br />
                <span>2.55</span>
              </div>
              <div id="odds-1277268460-u" class="row column1 Odds" data-matchid="1107541648" data-hometeamname="VFL Ankara" data-awayteamname="VFL Stockholm" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.45" data-oddsid="1277268460"
                data-oddstype="u">

                <span>1.45</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Edinburgh</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Vienna</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268508-1" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="1.75" data-oddsid="1277268508"
                data-oddstype="1">
                -0-0.5<br />
                <span>1.75</span>
              </div>
              <div id="odds-1277268508-2" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="1.95" data-oddsid="1277268508"
                data-oddstype="2">

                <span>1.95</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268506-1" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.5" data-odds="2.00" data-oddsid="1277268506"
                data-oddstype="1">
                -0.5<br />
                <span>2.00</span>
              </div>
              <div id="odds-1277268506-2" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.5" data-odds="1.70" data-oddsid="1277268506"
                data-oddstype="2">

                <span>1.70</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268504-1" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.75" data-odds="2.40" data-oddsid="1277268504"
                data-oddstype="1">
                -0.5-1<br />
                <span>2.40</span>
              </div>
              <div id="odds-1277268504-2" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.75" data-odds="1.50" data-oddsid="1277268504"
                data-oddstype="2">

                <span>1.50</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268486-o" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.45" data-oddsid="1277268486"
                data-oddstype="o">
                1.5<br />
                <span>1.45</span>
              </div>
              <div id="odds-1277268486-u" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="2.55" data-oddsid="1277268486"
                data-oddstype="u">

                <span>2.55</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268488-o" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="2.30" data-oddsid="1277268488"
                data-oddstype="o">
                2.5<br />
                <span>2.30</span>
              </div>
              <div id="odds-1277268488-u" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="1.55" data-oddsid="1277268488"
                data-oddstype="u">

                <span>1.55</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268490-o" class="row column2 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="4.40" data-oddsid="1277268490"
                data-oddstype="o">
                3.5<br />
                <span>4.40</span>
              </div>
              <div id="odds-1277268490-u" class="row column1 Odds" data-matchid="1107541650" data-hometeamname="VFL Edinburgh" data-awayteamname="VFL Vienna" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.18" data-oddsid="1277268490"
                data-oddstype="u">

                <span>1.18</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Berlin</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL London</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268538-1" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="1.75" data-oddsid="1277268538"
                data-oddstype="1">
                -0-0.5<br />
                <span>1.75</span>
              </div>
              <div id="odds-1277268538-2" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="2.00" data-oddsid="1277268538"
                data-oddstype="2">

                <span>2.00</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268536-1" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.5" data-odds="2.00" data-oddsid="1277268536"
                data-oddstype="1">
                -0.5<br />
                <span>2.00</span>
              </div>
              <div id="odds-1277268536-2" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.5" data-odds="1.75" data-oddsid="1277268536"
                data-oddstype="2">

                <span>1.75</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268534-1" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.75" data-odds="2.30" data-oddsid="1277268534"
                data-oddstype="1">
                -0.5-1<br />
                <span>2.30</span>
              </div>
              <div id="odds-1277268534-2" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.75" data-odds="1.55" data-oddsid="1277268534"
                data-oddstype="2">

                <span>1.55</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268516-o" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.20" data-oddsid="1277268516"
                data-oddstype="o">
                1.5<br />
                <span>1.20</span>
              </div>
              <div id="odds-1277268516-u" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="4.05" data-oddsid="1277268516"
                data-oddstype="u">

                <span>4.05</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268518-o" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="1.80" data-oddsid="1277268518"
                data-oddstype="o">
                2.5<br />
                <span>1.80</span>
              </div>
              <div id="odds-1277268518-u" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="1.90" data-oddsid="1277268518"
                data-oddstype="u">

                <span>1.90</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268520-o" class="row column2 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="2.90" data-oddsid="1277268520"
                data-oddstype="o">
                3.5<br />
                <span>2.90</span>
              </div>
              <div id="odds-1277268520-u" class="row column1 Odds" data-matchid="1107541652" data-hometeamname="VFL Berlin" data-awayteamname="VFL London" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.35" data-oddsid="1277268520"
                data-oddstype="u">

                <span>1.35</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Amsterdam</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Bern</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268568-1" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-1.5" data-odds="1.75" data-oddsid="1277268568"
                data-oddstype="1">
                -1.5<br />
                <span>1.75</span>
              </div>
              <div id="odds-1277268568-2" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-1.5" data-odds="1.95" data-oddsid="1277268568"
                data-oddstype="2">

                <span>1.95</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268566-1" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-1.75" data-odds="1.95" data-oddsid="1277268566"
                data-oddstype="1">
                -1.5-2<br />
                <span>1.95</span>
              </div>
              <div id="odds-1277268566-2" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-1.75" data-odds="1.75" data-oddsid="1277268566"
                data-oddstype="2">

                <span>1.75</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268564-1" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-2.0" data-odds="2.25" data-oddsid="1277268564"
                data-oddstype="1">
                -2<br />
                <span>2.25</span>
              </div>
              <div id="odds-1277268564-2" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-2.0" data-odds="1.55" data-oddsid="1277268564"
                data-oddstype="2">

                <span>1.55</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268546-o" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.18" data-oddsid="1277268546"
                data-oddstype="o">
                1.5<br />
                <span>1.18</span>
              </div>
              <div id="odds-1277268546-u" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="4.25" data-oddsid="1277268546"
                data-oddstype="u">

                <span>4.25</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268548-o" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="1.65" data-oddsid="1277268548"
                data-oddstype="o">
                2.5<br />
                <span>1.65</span>
              </div>
              <div id="odds-1277268548-u" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="2.10" data-oddsid="1277268548"
                data-oddstype="u">

                <span>2.10</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268550-o" class="row column2 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="2.90" data-oddsid="1277268550"
                data-oddstype="o">
                3.5<br />
                <span>2.90</span>
              </div>
              <div id="odds-1277268550-u" class="row column1 Odds" data-matchid="1107541654" data-hometeamname="VFL Amsterdam" data-awayteamname="VFL Bern" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.35" data-oddsid="1277268550"
                data-oddstype="u">

                <span>1.35</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timeBoard">
          <div class="teamL">VFL Paris</div>
          <div class="teamTimer M5015311">--:--</div>
          <div class="teamR">VFL Copenhagen</div>
        </div>
        <div class="odd">
          <div class="oddHD">
            <p class="title">Handicap</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>H</p>
                <p>A</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268598-1" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.25" data-odds="1.55" data-oddsid="1277268598"
                data-oddstype="1">
                -0-0.5<br />
                <span>1.55</span>
              </div>
              <div id="odds-1277268598-2" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.25" data-odds="2.30" data-oddsid="1277268598"
                data-oddstype="2">

                <span>2.30</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268596-1" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.5" data-odds="1.75" data-oddsid="1277268596"
                data-oddstype="1">
                -0.5<br />
                <span>1.75</span>
              </div>
              <div id="odds-1277268596-2" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.5" data-odds="1.95" data-oddsid="1277268596"
                data-oddstype="2">

                <span>1.95</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268594-1" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Home" data-specialvalue="-0.75" data-odds="2.05" data-oddsid="1277268594"
                data-oddstype="1">
                -0.5-1<br />
                <span>2.05</span>
              </div>
              <div id="odds-1277268594-2" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Handicap" data-bettype="Away" data-specialvalue="-0.75" data-odds="1.70" data-oddsid="1277268594"
                data-oddstype="2">

                <span>1.70</span>
              </div>
            </div>
          </div>
          <div class="oddOU">
            <p class="title">Over/Under</p>
            <div class="TitleColumn">
              <div class="row column0">
                <p>O</p>
                <p>U</p>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268576-o" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="1.5" data-odds="1.35" data-oddsid="1277268576"
                data-oddstype="o">
                1.5<br />
                <span>1.35</span>
              </div>
              <div id="odds-1277268576-u" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="1.5" data-odds="2.85" data-oddsid="1277268576"
                data-oddstype="u">

                <span>2.85</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268578-o" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="2.5" data-odds="2.20" data-oddsid="1277268578"
                data-oddstype="o">
                2.5<br />
                <span>2.20</span>
              </div>
              <div id="odds-1277268578-u" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="2.5" data-odds="1.60" data-oddsid="1277268578"
                data-oddstype="u">

                <span>1.60</span>
              </div>
            </div>
            <div class="column">
              <div id="odds-1277268580-o" class="row column2 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Over" data-specialvalue="3.5" data-odds="4.25" data-oddsid="1277268580"
                data-oddstype="o">
                3.5<br />
                <span>4.25</span>
              </div>
              <div id="odds-1277268580-u" class="row column1 Odds" data-matchid="1107541656" data-hometeamname="VFL Paris" data-awayteamname="VFL Copenhagen" data-betinfo="Over/Under" data-bettype="Under" data-specialvalue="3.5" data-odds="1.18" data-oddsid="1277268580"
                data-oddstype="u">

                <span>1.18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
